*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-light: #FFFFFF;
    --clr-dark: #000000;
    --clr-primary: #572EE5;
    --clr-secondary: #50E3C2;
    --clr-search: #6B7989;
    --clr-logo: #5ED7C6;

    --background: var(--clr-light);

    --text-primary: var(--clr-primary);
    --text-secondary: var(--clr-dark);

    --ff-title: "Montserrat", sans-serif;
    --ff-body: "Roboto", sans-serif;
}
  
body {
    background: var(--background);
    color: var(--text-primary);
    font-family: var(--ff-body);
}

header {
    border-top: 5px solid var(--text-primary);;
}